.customButton {
  display: flex;
  max-width: 300px;
  width: 120px;
  height: 40px;
  justify-content: center;
  /* border: 1px solid rgb(138, 117, 117); */
  border-radius: 6px;
  margin: 16px auto;
  font-size: 16px;
  box-shadow: 3px 3px 5px -2px rgb(71, 57, 57);
  font-weight: var(--w3);
  cursor: pointer;
}
.customButton__text {
  align-self: center;
}
.danger {
  background: #f34f4f;
  color: #fff;
}
.success {
  background: rgb(69, 190, 69);
}
.yellow {
  background: rgb(223, 223, 54);
}
.info {
  background: rgb(26, 26, 184);
}
