.busform {
  width: 100%;
  height: 100%;
}
.busform h3 {
  text-align: center;
}
.busform p {
  text-align: center;
}
.busform form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.busform input {
  /* width: 30%; */
  height: 30px;
  margin: 16px 5%;
}
