.landing {
  width: 100%;
  z-index: -5;
  background: var(--color-background);
  height: 100vh;
  /* display: grid;
  grid-template-columns: 1fr 4fr; */
}
/* .landing ::before {
  content: '';
  background-image: url('../../assets/images/logo.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 20vh;
  background-position-x: 15vw;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1000;
  opacity: 0.005;
} */
/* .landing__left {
  border-right: 2px solid #111;
} */
.landing__center {
}
.landing__header {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr 1fr 2fr;
  width: var(--c-2);
  margin: auto;
  border: 1px solid rgb(247, 242, 242);
  background: var(--color-grey);
  z-index: inherit;
}
.landing__search {
}
