.booking {
  height: 100vh;
  background: var(--color-background);
}

.booking__header {
  background-image: linear-gradient(270deg, #43264e, #9a243e 72%);
}

.booking__header p {
  color: #fff;
}
.booking__header > div > p > p {
  font-style: italic;
}
.booking__header > div {
  display: flex;
  justify-content: space-between;
  width: var(--c-2);
  margin: auto;
}
.booking__inner {
  width: var(--c-2);
  margin: auto;
}
.booking__inner__header {
  background: var(--color-grey);
  height: var(--p3);
  position: relative;
  top: calc(var(--p-3) * 3);
}
.booking__layout {
  background: #fff;
  margin-top: calc(var(--p4) * 4);
  padding: var(--p3);
  border-radius: 10px;
}
.booking__layout__info {
  background: var(--color-red);
  color: #fff;
  height: 30px;
  font-size: 20px;
}
.booking__layout__inner {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: var(--p3);
}
.booking__left {
  text-align: left;
}
.booking__seats {
  margin: auto;
  /* background: #fff;
  border-radius: 10px; */
}
.booking__seats__info {
  display: flex;
  justify-content: space-evenly;
}
.booking__right {
  padding: 32px;
  border: 1px solid rgb(128, 124, 124);
  border-radius: 4px;
}
.booking__right > p {
  color: #000;
}
.booking input {
  height: 30px;
  margin-bottom: 8px;
  margin-left: var(--p1);
}
.booking form {
  display: flex;
  justify-content: space-between;
}

.booking__right__name {
  width: 100%;
  flex-grow: 2;
}
.booking__right__phone {
  display: flex;
  justify-content: space-between;
}
.booking__right__age {
  width: 20%;
}
