.portal__backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.portal__inner {
  position: fixed;
  background: white;
  z-index: 10000;
}

.portal__small {
  height: 30vh;
  width: 40vw;
  top: 35vh;
  left: 30vw;
}

.portal__large {
  height: 40vh;
  width: 70vw;
  top: 20vh;
  left: 15vw;
}
