.bustile {
  /* height: 300px; */
  /* padding: 16px; */
  border: 1px solid rgb(247, 242, 242);
  box-sizing: border-box;
  margin: 32px auto;
  width: var(--c-2);
  box-shadow: 2px 2px 3px -2px rgb(165, 151, 151);
  height: 100px;
  background: var(--color-white);
}
.bustile p {
  font-size: 14px;
}
.bustile :hover {
  zoom: 1.07;
}
.bustile__inner :hover {
  zoom: 1;
}

.bustile__inner {
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr 1fr 2fr;
}
.bustile__inner > div {
  margin: auto;
  height: 100%;
}

.bustile__header {
}

.bustile__departure {
}

.bustile__date h5 {
  font-weight: var(--w-1);
}

.bustile__arrival {
}

.bustile__price {
}

.bustile__book {
  width: 100%;
}
