.seat {
  height: 40px;
  width: 30px;
  border: 2px solid var(--color-red);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  text-align: center;
  cursor: pointer;
  background: #fff;
}
.seat :hover {
  zoom: 1.07;
}
.seat p {
  margin: 10px 0;
}

.seat__booked {
  background: #c2b9b0;
  cursor: not-allowed;
}
.seat__selected {
  background: #ffbf5a;
}
