.navbar {
  height: calc(var(--p4) * 2);
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 5;
}
.navbar__inner {
  /* display: flex; */
  display: flex;
  height: calc(var(--p3) * 2);
  width: var(--c-2);
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.navbar__left {
  font-weight: 800;
  font-size: 20px;
  text-align: center;
}
.navbar__center {
  font-style: italic;
  text-shadow: 5px 5px 10px darkgray;
}
.navbar__right {
  display: flex;
  font-weight: var(--w);
  cursor: pointer;
  font-size: 22px;
}
.navbar__right > div {
  margin: 0 8px;
}
