.searchTile {
  padding: 16px;
  color: var(--color-white) !important;
  /* box-shadow: 0px 5px 10px -5px black; */
  border: 1px solid #222;
  margin: auto;
  background-image: linear-gradient(270deg, #43264e, #9a243e 72%);
  margin-bottom: 32px;
  height: calc(var(--p3) * 2);
}
.searchTile__inner {
  width: var(--c-2);
  margin: auto;
}
.searchTile__inner * {
  color: white !important;
}
.searchTile__input {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.searchTile__inner .customButton {
  margin: 0;
}
.searchTile__input__center {
  margin: 8px;
  align-self: center;
}
