.form-login{
  background:#fff;
  padding:30px 34px;
  margin:24px 0 0;
  min-width:400px;
  min-height:273px;
  border-radius:5px;
  line-height: 24px;
  box-shadow:3px 1px 8px rgba(255,255,255,.5),3px 2px 8px rgba(0,0,0,.1)
}
.form-login p{
  text-align: center;
  font-size: 24px;
  color: black;
  margin-bottom: 1cm;
}
.input-field-login{
  display:flex;
  flex-direction:column;
  gap:5px;
  width:100%;
  margin-bottom:15px;
}

.input-field-login input[type="text"],input[type="password"]{
  padding:15px;
  border-radius:5px;
  border:1px solid transparent;
  background:hsl(210, 38%, 95%);
  line-height: 24px;
  outline:none;
}
.input-field-login input[type="text"]:focus,input[type="password"]:focus{
  border-bottom:1px solid #F34F4F;
  border-radius:5px;
}
