:root {
  --p1: 8px;
  --p2: 16px;
  --p3: 24px;
  --p4: 32px;

  --w1: 300;
  --w2: 400;
  --w3: 700;

  --c-1: 50vw;
  --c-2: 60vw;

  --color-grey: #e6e6e6;
  --color-background: #eee;
  --color-white: #fff;

  --color-red: #f34f4f;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Lato', sans-serif;
}

h1,
h2 {
}
h3,
h4,
h5,
h6,
p {
  margin: 8px;
  padding: 0s;
}
p {
  color: #666666;
}
